* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #F2EDEB;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #373E40 ;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    /* border: 1px solid #488286; */
    box-shadow: 1px 1px 10px 1px #488286;
}

header ul{
    display: flex;
    margin-right: 150px;
}

header ul li{
    display: flex;
    padding: 10px;
    border-bottom: 2px dashed #488286;
}

header ul li a:hover {
    transition: 450ms;
    color: #488286
}

input, button {
 color: #000;
}

.container{
    text-align: center;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.form {
    width: 40%;
    margin: 0 auto;
    padding: 25px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #488286 50%, #B7D5D4 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    border: none;
    cursor: pointer;
    transition: all 450ms ease-out;
    margin-left: -5px;
    border-radius: 0px 5px 5px 0px;
}

.form button:hover{
    background-position: left bottom;
}

.italico {
    font-style: italic;
    font-weight: 600;
}

.container .name h1 {
    font-size: 45px;
}
.container .name h5 {
    font-size: 20px;
}